/* line 1, style.scss */
body { margin-top: 10px; padding: 0; }

/* line 7, style.scss */
.wrapper { margin: 0 auto; width: 1400px; }
/* line 11, style.scss */
.wrapper header { background-image: url("../../www/image/header/header-bg.png"); margin: 0 auto; padding-bottom: 100px; border-bottom-left-radius: 67px; border-bottom-right-radius: 67px; margin-bottom: 79px; }
/* line 19, style.scss */
.wrapper header img { float: left; margin-top: 39px; margin-left: 109px; margin-right: 121px; }
/* line 25, style.scss */
.wrapper header .menu { padding-top: 65px; }
/* line 27, style.scss */
.wrapper header .menu a { font-family: 'Merriweather Bold', serif; font-size: 15px; text-decoration: none; color: white; margin-right: 44px; }
/* line 34, style.scss */
.wrapper header .menu .tel-num { font-family: 'Merriweather Heavy', serif; font-size: 20px; color: white; }
/* line 41, style.scss */
.wrapper header .title { margin-top: 97px; margin-left: 108px; font-family: 'Merriweather Bold', serif; font-size: 47px; color: white; }
/* line 66, style.scss */
.wrapper header .btn-head { position: relative; }
/* line 71, style.scss */
.wrapper section { background-color: #efefef; border-bottom-left-radius: 67px; border-bottom-right-radius: 67px; }
/* line 76, style.scss */
.wrapper .panel-section { width: 1200px; margin: 0 auto; height: 1250px; }
/* line 82, style.scss */
.wrapper .panel-section .panel { width: 380px; height: 500px; border-radius: 10px; float: left; margin-right: 10px; margin-left: 10px; margin-bottom: 71px; }
/* line 90, style.scss */
.wrapper .panel-section .panel .head { position: relative; color: white; font-family: 'Merriweather Bold', serif; font-size: 24px; top: -238px; padding-left: 19px; }
/* line 98, style.scss */
.wrapper .panel-section .panel .date { position: relative; color: white; font-family: 'Merriweather Regular', serif; font-size: 12px; top: -236px; padding-left: 19px; }
/* line 106, style.scss */
.wrapper .panel-section .panel .panel_hr { width: 180px; position: relative; color: white; top: -238px; left: -80px; }
/* line 113, style.scss */
.wrapper .panel-section .panel .content { font-family: 'Merriweather Regular', serif; font-size: 14px; color: #2c3035; margin-top: -48px; line-height: 1.9; }
/* line 122, style.scss */
.wrapper .panel-section .hr_bottom { float: left; width: 1190px; color: #c8c9ca; margin-top: -33px; }
/* line 130, style.scss */
.wrapper .btn-more_info { float: left; position: relative; left: 505px; margin: 0 auto; text-align: center; bottom: -16px; }
/* line 141, style.scss */
.wrapper footer img { margin-top: -110px; }
/* line 144, style.scss */
.wrapper footer a { position: relative; top: -192px; left: 566px; }
/* line 149, style.scss */
.wrapper footer .menu_footer { position: relative; bottom: -99px; left: -92px; }
/* line 153, style.scss */
.wrapper footer .menu_footer a { font-family: 'Merriweather Regular', serif; font-size: 14px; text-decoration: none; color: #2c3035; margin-right: 15px; }

/*# sourceMappingURL=style.css.map */
