/* line 1, ../../src/scss/style.scss */
body { margin-top: 10px; padding: 0; }

/* line 7, ../../src/scss/style.scss */
.wrapper { margin: 0 auto; width: 1400px; }
/* line 11, ../../src/scss/style.scss */
.wrapper header { background-image: url("../../www/image/header/header-bg.png"); margin: 0 auto; padding-bottom: 100px; border-bottom-left-radius: 67px; border-bottom-right-radius: 67px; margin-bottom: 79px; }
/* line 19, ../../src/scss/style.scss */
.wrapper header img { float: left; margin-top: 39px; margin-left: 109px; margin-right: 121px; }
/* line 25, ../../src/scss/style.scss */
.wrapper header .menu { padding-top: 65px; }
/* line 27, ../../src/scss/style.scss */
.wrapper header .menu a { font-family: 'Merriweather Bold', serif; font-size: 15px; text-decoration: none; color: white; margin-right: 44px; }
/* line 34, ../../src/scss/style.scss */
.wrapper header .menu .tel-num { font-family: 'Merriweather Heavy', serif; font-size: 20px; color: white; }
/* line 41, ../../src/scss/style.scss */
.wrapper header .title { margin-top: 97px; margin-left: 108px; font-family: 'Merriweather Bold', serif; font-size: 47px; color: white; }
/* line 48, ../../src/scss/style.scss */
.wrapper header .bottom { width: 281px; height: 46px; border-radius: 10px; background-color: #ef4a3b; text-align: center; margin-top: 72px; margin-left: 109px; padding-top: 15px; }
/* line 58, ../../src/scss/style.scss */
.wrapper header .bottom a { font-family: 'Merriweather Bold', serif; font-size: 20px; color: white; text-decoration: none; }
/* line 67, ../../src/scss/style.scss */
.wrapper section { background-color: #efefef; border-bottom-left-radius: 67px; border-bottom-right-radius: 67px; }
/* line 72, ../../src/scss/style.scss */
.wrapper .panel-section { width: 1200px; margin: 0 auto; height: 1250px; }
/* line 78, ../../src/scss/style.scss */
.wrapper .panel-section .panel { width: 380px; height: 500px; border-radius: 10px; float: left; margin-right: 10px; margin-left: 10px; margin-bottom: 71px; }
/* line 86, ../../src/scss/style.scss */
.wrapper .panel-section .panel .head { position: relative; color: white; font-family: 'Merriweather Bold', serif; font-size: 24px; top: -238px; padding-left: 19px; }
/* line 94, ../../src/scss/style.scss */
.wrapper .panel-section .panel .date { position: relative; color: white; font-family: 'Merriweather Regular', serif; font-size: 12px; top: -236px; padding-left: 19px; }
/* line 102, ../../src/scss/style.scss */
.wrapper .panel-section .panel .panel_hr { width: 180px; position: relative; color: white; top: -238px; left: -80px; }
/* line 109, ../../src/scss/style.scss */
.wrapper .panel-section .panel .content { font-family: 'Merriweather Regular', serif; font-size: 14px; color: #2c3035; margin-top: -48px; line-height: 1.9; }
/* line 118, ../../src/scss/style.scss */
.wrapper .panel-section .hr_bottom { float: left; width: 1190px; color: #c8c9ca; margin-top: -33px; }
/* line 126, ../../src/scss/style.scss */
.wrapper .btn-more_info { float: left; position: relative; left: 505px; margin: 0 auto; text-align: center; bottom: -16px; }
/* line 137, ../../src/scss/style.scss */
.wrapper footer img { margin-top: -110px; }
/* line 140, ../../src/scss/style.scss */
.wrapper footer a { position: relative; top: -192px; left: 566px; }
/* line 145, ../../src/scss/style.scss */
.wrapper footer .menu_footer { position: relative; bottom: -99px; left: -92px; }
/* line 149, ../../src/scss/style.scss */
.wrapper footer .menu_footer a { font-family: 'Merriweather Regular', serif; font-size: 14px; text-decoration: none; color: #2c3035; margin-right: 15px; }

/*# sourceMappingURL=style.css.map */
